// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('assets/signup-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-control::placeholder {
  color: white; /* Change the placeholder text color to white */
}

.signup-logo-container {
  text-align: center;
  z-index: 99999;
  margin-top: 10vh;
  padding: 50px 0px 5px;
}

.signup-logo-container img {
  max-width: 100%;
  height: 40px;
}


form input {
  background-color: rgba(255, 255, 255, 0.45);
  color: white;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
  margin: 3px;

  // @media (pointer: coarse) {
  //   font-size: 30px;
  // }
}

.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 0px solid white;
  cursor: pointer;
  margin: 3px;
  display: block;

  // @media (pointer: coarse) {
  //   font-size: 30px;
  // }

  &:hover {
    text-decoration: underline;
  }
}

.form-group {
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.log-in {
  display: flex;
  flex-direction: column;
}

#signupForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sign-up-button {
  margin: 3px 50px;
}

.dropdown-menu {
    display: flex;
    width: 40%;
    justify-content: center;
    margin: 0px auto;
}

.dropdown {
  display: flex;
  flex-direction: column;
}
